
{% extends 'base/body.html' %}
{% load static %}
{% block title %}
    Lista Empresas
{% endblock %}
{% block content %}
<main class="content">
	<div class="container-fluid p-0">

		
		
		<div class="d-flex justify-content-between ">
			<h1 class="h3 "><strong>Lista</strong> Empresas</h1>
			<a class="btn btn-success" href="{% url 'crear_empresa' %}"><strong>Nueva Empresa</strong></a>
		</div>
		
		<div class="row mt-3">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0">Filtros</h5>
						<form method="get" class=" row g-3">
							{% for field in empresa_filter.form %}
							<div class="col-4">
									<label for="{{ field.html_name }}" class="form-label">{{ field.label_tag }}</label>
								<div >{{ field }}</div>
							</div>
							{% endfor %}
							<div>
								<button type="submit" class="btn btn-primary col-auto">Filtrar</button>
							</div>
						</form>

					</div>
					<div class="card p-3">

					
					<table class="table table-hover my-0 ">
						<thead>
							<tr>
								<!-- <th scope="col">ID</th> -->
								<th scope="col">Número de Documento</th>
								<th scope="col">Razón Social</th>
								<th scope="col">Dirección</th>
								<th scope="col">Opciones</th>
							</tr>
						</thead>
						<tbody>
							{% for empresa in empresas_paginadas %}
								<tr>
									<!-- <th scope="row">{{ empresa.empresa_id }}</th> -->
									<td>{{ empresa.nro_documento }}</td>
									<td>{{ empresa.razon_social }}</td>
									<td>{{ empresa.direccion }}</td>
									<td>
										<a href="{% url 'editar_empresa' id=empresa.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
										<a href="{% url 'eliminar_empresa' id=empresa.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="pagination mt-4">
						<span class="step-links">
							{% if empresas_paginadas.has_previous %}
								<a href="?page=1" class="btn btn-primary">&laquo; primera</a>
								<a href="?page={{ empresas_paginadas.previous_page_number }}" class="btn btn-primary">anterior</a>
							{% endif %}
				
							<span class="current">
								Página {{ empresas_paginadas.number }} de {{ empresas_paginadas.paginator.num_pages }}.
							</span>
				
							{% if empresas_paginadas.has_next %}
								<a href="?page={{ empresas_paginadas.next_page_number }}" class="btn btn-primary">siguiente</a>
								<a href="?page={{ empresas_paginadas.paginator.num_pages }}" class="btn btn-primary">última &raquo;</a>
							{% endif %}
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>

{% endblock %}